%h1 Configurações
- if saved
  %p Configurações salvas.

%h2 Conta

%form{method: 'post', action: '/account'}
  %label{for: 'pass'} Nova Senha:
  %br
  %input{type: 'password', name: 'pass'}

  %button{type: 'submit'} Atualizar

%form{method: 'post', action: '/update'}
  %h3 Instagram
  %textarea{name: 'insta', rows: '5'}= insta.join("\n")

  %h3 Twitter
  %textarea{name: 'twit', rows: '5'}= twit.join("\n")

  %h3 YouTube
  %textarea{name: 'yt', rows: '5'}= yt.join("\n")

  %h3 Reddit
  %textarea{name: 'red', rows: '5'}= red.join("\n")

  %br
  %br

  %button{type: 'submit'} Atualizar
