<form action="/login" method="post">
  <label for="user">Usuário</label>
  <input type="text" name="user">
  <label for="pass">Senha</label>
  <input type="password" name="pass">
  <button type="submit">Entrar</button>
</form>

<br>

<a href="/signup">Criar Conta</a>