%h1 Bem-vindo(a) ao SocialHub.

%form{method: 'post', action: '/new'}
 %label{for: 'user'} Usuário:
 %input{type: 'text', name: 'user'}

 %label{for: 'pass'} Senha:
 %input{type: 'password', name: 'pass'}

 %button{type: 'submit'} Criar Conta